<div id="top_producers"></div>

<script>
	$(document).ready(function(){
		let top_most_producers = JSON.parse('<%- JSON.stringify(top_producers_arr) %>');
		Highcharts.chart('top_producers', {
		    chart: {
		        plotBackgroundColor: null,
		        plotBorderWidth: null,
		        plotShadow: false,
		        type: 'pie'
		    },
		    tooltip: {
		        pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
		    },
		    plotOptions: {
		        pie: {
		            allowPointSelect: true,
		            cursor: 'pointer',
		            dataLabels: {
		                enabled: true,
		                format: '<b>{point.name}</b>: {point.percentage:.1f} %',
		                connectorColor: 'silver'
		            }
		        }
		    },
		    series: [{
		        name: 'Share',
		        data: top_most_producers
		    }]
		});
	});
</script>