<section class="productsdetail">
	<div class="container">
		<div class="row">
			<div class="col-md-12 thankyou">
				<img src="../../../images/thankyou.png">
				<p><%= labels['LBL_NO_PRODUCTS_AVAILABLE'][language] %>.</p>
			</div>
		</div>
	</div>
</section>