<div class="social-media-left">
	<a href="https://www.facebook.com/kepyamarket/" target=_blank><span class="facebook"><i class="fa fa-facebook"></i></span></a>
	<a href="https://twitter.com/kepyamarket" target=_blank><span class="twitter"><i class="fa fa-twitter"></i></span></a>
	<a href="https://www.linkedin.com/company/kepya/about/" target=_blank><span class="linkedin"><i class="fa fa-linkedin"></i></span></a>
	<a href="https://www.instagram.com/kepyamarket/" target=_blank><span class="youtube"><i class="fa fa-instagram"></i></span></a>
</div>
<div class="social-media-right" id='site-footer'>&copy; <span id="year"></span> <%= labels['LBL_MY_ACCOUNT_SITE_FOOTER'][language] %></div>

<script>
    document.getElementById("year").innerHTML = new Date().getFullYear();
</script>