<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
	<title>Kepya Agromercado | Bem-vindo</title>
	<meta name="description" content="Kepya é uma plataforma de comercialização de produtos do campo que recolhe informação sobre a disponibilidade e necessidade de produtos agrícolas e promove a rápida transacção dos mesmos." />
	<meta property="og:description" content="Kepya é uma plataforma de comercialização de produtos do campo que recolhe informação sobre a disponibilidade e necessidade de produtos agrícolas e promove a rápida transacção dos mesmos." />
	<meta name="twitter:image" content="images/logo.png" /> 
	<meta name="twitter:title" content="Kepya Agromercado | Bem-vindo" /> 
	<meta property="twitter:description" content="Kepya é uma plataforma de comercialização de produtos do campo que recolhe informação sobre a disponibilidade e necessidade de produtos agrícolas e promove a rápida transacção dos mesmos." />
	<link rel="shortcut icon" type="image/x-icon" href="images/logo.png">
	<%- include('shared/common_css') %>
	<script type='text/javascript' src="js/jquery-1.12.4.js"></script>
	<script type='text/javascript' src="js/language.js"></script>

	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-122654457-1"></script>
	<script>
	  window.dataLayer = window.dataLayer || [];
	  function gtag(){dataLayer.push(arguments);}
	  gtag('js', new Date());

	  gtag('config', 'UA-122654457-1');
	</script>
</head>
<body>
<section class="login-section text-center">
	<div class="overlay-position"></div>
	<div class="login-page">
		<div class="container">
			<div class="login-box">
				<div class="row">
					<%- include('shared/language_section') %>
				</div>
				<img src="images/logo.png">
				<h1><%= labels['LBL_SIGN_UP_WELCOME_MESSAGE'][language] %>.</h1>
				<div class="row">
					<div class="col-md-12 col-sm-12 form">
						<div class="text-center creat_new"><a href="/"><%= labels['LBL_SIGN_UP_WELCOME_BUTTON_SIGN_IN'][language] %></a></div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
</body>
</html>