<section class="productsdetail">
	<div class="container">
		<h3 class="verify_text"><%= labels['LBL_THANK_YOU_FOR_SHOPPING_WITH_US'][language] %>.</h3>
		<div class="product_card">
		<div class="row">
			<div class="col-md-12 thankyou">
				<img src="../../../images/thankyou.png">
				<p><%= order_caption %></p>

				<a href="<%=baseURL%>compradors/explore/list"><button class="main_btn"><%= labels['LBL_CONTINUE_SHOPPING'][language] %></button></a>
			</div>
		</div>
	</div>
</section>