<section style="min-height: 630px;margin: -40px 0;" class="app_banner lazybgnone">
   <div class="container">
      <div class="row">
         <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 col-lg-offset-6 col-md-offset-6 analytics2">
            <h2 style='font-size: 70px;font-weight: 500;'><%= labels['LBL_WE_ARE_LAUNCHING_SOON'][language] %></h2>
         </div>
      </div>
   </div>
</section>