<section class="productsdetail">
	<div class="container">
		<div class="row ">
			<div class="col-md-12 data-section mt40">
				<h3>Best Marketplace For Farmers In Angola</h3>
				<p class="product-p">Sell Spices, Fruits, Vegetables, Fertilizers, Agro Chemicals and other agricultural products.</p>
			</div>
		</div>
		<div class="row">
			<div class="col-md-3 col-sm-12 col-xs-12">
				<div class="category">
					<div id="accordion">
					  <ul>
					  	<h3>CATEGORIES</h3>
					    <li><a href="#">Beans</a></li>
					    <li><a href="#">Berries</a></li>
					    <li><a href="#">Citrus</a></li>
					    <li>
					      <a href="#">Fruits</a><i>+</i>
					      <ul>
					         <li><a href="#">Retail Products</a></li>
					        <li><a href="#">Wholesale Products</a></li>
					        <li><a href="#">Quality &amp; Food Safety</a></li>
					      </ul>
					    </li>
					    <li><a href="#">Juices</a></li>
					    <li><a href="#">Lettuce</a></li>
					    <li><a href="#">Meats</a></li>
					    <li>
					      <a href="#">Salads</a><i>+</i>
					      <ul>
					        <li><a href="#">Retail Products</a></li>
					        <li><a href="#">Wholesale Products</a></li>
					        <li><a href="#">Quality &amp; Food Safety</a></li>
					      </ul>
					    </li>
					    <li><a href="#">Uncategorized</a></li>
					    <li>
					      <a href="#">Vegetables</a><i>+</i>
					      <ul>
					        <li><a href="#">Retail Products</a></li>
					        <li><a href="#">Wholesale Products</a></li>
					        <li><a href="#">Quality &amp; Food Safety</a></li>
					      </ul>
					    </li>
					   
					  </ul>
					</div>
				</div>
				<div class="category">
					<div id="accordion">
					  <ul>
					  	<h3>PRODUCT</h3>
					  </ul>
					  	<div id="custom-search-input">
                            <input type="text" class="search-query form-control" placeholder="Search Product">
                            <a href="#"><i class="fa fa-arrow-right"></i></a>
                        </div>
					</div>
				</div>
				<div class="category">
					<div id="accordion">
					  <ul>
					  	<h3>Area</h3>
					  </ul>
					  	<div id="custom-search-input">
                            <input type="text" class="search-query form-control" placeholder="Location">
                            <a href="#"><i class="fa fa-arrow-right"></i></a>
                        </div>
					</div>
				</div>
				<div class="category">
					<div id="accordion">
					  <ul>
					  	<h3>PRICE</h3>
					  </ul>
					  	<div class="cd-filter-block">
							<h4>Price</h4>
							<div class="cd-filter-content cd-filters list">
								<input type="text" class="js-range-slider" name="my_range" value=""/>    
							</div>
						</div>
					</div>
				</div>	
				<div class="category">
					<div id="accordion">
					  <ul>
					  	<h3>Availabilty Status</h3>
					  </ul>
					  	<div class="control-group kp-filter">
						    <label class="control control--checkbox">&nbsp; In Stock
						      <input type="checkbox" name="checkbox" checked="checked"/>
						      <div class="control__indicator"></div>
						    </label><br />
						    <label class="control control--checkbox">&nbsp; Forecasted
						      <input type="checkbox" name="checkbox"/>
						      <div class="control__indicator"></div>
						    </label>					
						</div>
					</div>
				</div>	

			</div>
			<div class="col-md-9 col-sm-12 col-xs-12">
				<div class="white_bg2">
					<div class="row">
						<div class="col-md-4 col-sm-6 col-xs-12 product-list">
							<div class="product-data">
								<div class="product-img">
								  <img src="../../images/3.jpg" alt="Avatar" class="pro-image">
								  <span class="add-fav"><a href="#"><i class="fa fa-heart-o" aria-hidden="true"></i></a></span>
								</div>
								<div class="product-text">
									<a href="exploreproduct-detail.html"><p>Grape Tomatoes</p></a>					
									<h5>Vegetables</h5>
									<h5><span>Kz 12.00</span> Units : KG</h5>
									<h6>In Stock : 20000</h6>
									<div class="kp_location">
										<i class="fa fa-map-marker" aria-hidden="true"></i> <span>Aungola</span>
									</div>
								</div>
							</div>	
						</div>
						<div class="col-md-4 col-sm-6 col-xs-12 product-list">
							<div class="product-data">
								<div class="product-img">
								  <img src="../../images/2.jpg" alt="Avatar" class="pro-image">
								  <span class="add-fav"><a href="#"><i class="fa fa-heart-o" aria-hidden="true"></i></a></span>
								</div>
								<div class="product-text">
									<a href="exploreproduct-detail.html"><p>Organic Sweet Corn</p></a>						
									<h5>Vegetables</h5>						
									<h5><span>Kz 14.99</span> Units : KG</h5>
									<h6>Forecasted : 2000</h6>
									<div class="kp_location">
										<i class="fa fa-map-marker" aria-hidden="true"></i> <span>Aungola</span>
									</div>
								</div>
							</div>	
						</div>
						<div class="col-md-4 col-sm-6 col-xs-12 product-list">
							<div class="product-data">
								<div class="product-img">
								  <img src="../../images/4.jpg" alt="Avatar" class="pro-image">
								  <span class="add-fav"><a href="#"><i class="fa fa-heart-o" aria-hidden="true"></i></a></span>
								</div>
								<div class="product-text">
									<a href="exploreproduct-detail.html"><p>Organic Green Cabbage</p></a>					
									<h5>Vegetables</h5>
									<h5><span>Kz 140.00</span> Units : Tons</h5>
									<h6>In Stock : 5000</h6>
									<div class="kp_location">
										<i class="fa fa-map-marker" aria-hidden="true"></i> <span>Aungola</span>
									</div>
								</div>
							</div>	
						</div>
						<div class="col-md-4 col-sm-6 col-xs-12 product-list">
							<div class="product-data">
								<div class="product-img">
								  <img src="../../images/1.jpg" alt="Avatar" class="pro-image">
								  <span class="add-fav"><a href="#"><i class="fa fa-heart-o" aria-hidden="true"></i></a></span>
								</div>
								<div class="product-text">
									<a href="exploreproduct-detail.html"><p>Fress Red Seedless</p></a>														
									<h5>Fruits</h5>							
									<h5><span>Kz 12.00</span> Units : KG</h5>
									<h6>Forecasted : 1000</h6>
									<div class="kp_location">
										<i class="fa fa-map-marker" aria-hidden="true"></i> <span>Aungola</span>
									</div>
								</div>
							</div>	
						</div>
						<div class="col-md-4 col-sm-6 col-xs-12 product-list">
							<div class="product-data">
								<div class="product-img">
								  <img src="../../images/3.jpg" alt="Avatar" class="pro-image">
								  <span class="add-fav"><a href="#"><i class="fa fa-heart-o" aria-hidden="true"></i></a></span>
								</div>
								<div class="product-text">
									<a href="exploreproduct-detail.html"><p>Grape Tomatoes</p></a>					
									<h5>Vegetables</h5>
									<h5><span>Kz 12.00</span> Units : KG</h5>
									<h6>In Stock : 20000</h6>
									<div class="kp_location">
										<i class="fa fa-map-marker" aria-hidden="true"></i> <span>Aungola</span>
									</div>
								</div>
							</div>	
						</div>
						<div class="col-md-4 col-sm-6 col-xs-12 product-list">
							<div class="product-data">
								<div class="product-img">
								  <img src="../../images/2.jpg" alt="Avatar" class="pro-image">
								  <span class="add-fav"><a href="#"><i class="fa fa-heart-o" aria-hidden="true"></i></a></span>
								</div>
								<div class="product-text">
									<a href="exploreproduct-detail.html"><p>Organic Sweet Corn</p></a>						
									<h5>Vegetables</h5>						
									<h5><span>Kz 14.99</span> Units : KG</h5>
									<h6>In Stock : 4000</h6>
									<div class="kp_location">
										<i class="fa fa-map-marker" aria-hidden="true"></i> <span>Aungola</span>
									</div>
								</div>
							</div>	
						</div>
						<div class="col-md-4 col-sm-6 col-xs-12 product-list">
							<div class="product-data">
								<div class="product-img">
								  <img src="../../images/4.jpg" alt="Avatar" class="pro-image">
								  <span class="add-fav"><a href="#"><i class="fa fa-heart-o" aria-hidden="true"></i></a></span>
								</div>
								<div class="product-text">
									<a href="exploreproduct-detail.html"><p>Organic Green Cabbage</p></a>					
									<h5>Vegetables</h5>
									<h5><span>Kz 140.00</span> Units : Tons</h5>
									<h6>Forecasted : 5000</h6>
									<div class="kp_location">
										<i class="fa fa-map-marker" aria-hidden="true"></i> <span>Aungola</span>
									</div>
								</div>
							</div>	
						</div>
						<div class="col-md-4 col-sm-6 col-xs-12 product-list">
							<div class="product-data">
								<div class="product-img">
								  <img src="../../images/1.jpg" alt="Avatar" class="pro-image">
								  <span class="add-fav"><a href="#"><i class="fa fa-heart-o" aria-hidden="true"></i></a></span>
								</div>
								<div class="product-text">
									<a href="exploreproduct-detail.html"><p>Fress Red Seedless</p></a>														
									<h5>Fruits</h5>							
									<h5><span>Kz 12.00</span> Units : KG</h5>
									<h6>In Stock : 1000</h6>
									<div class="kp_location">
										<i class="fa fa-map-marker" aria-hidden="true"></i> <span>Aungola</span>
									</div>
								</div>
							</div>	
						</div>
					</div>
				</div>
			</div>
		</div>	
	</div>
</section>