<section class="productsdetail">
	<div class="container">
		<div class="breadcrumb_card">
			<%- include('../../shared/breadcrumb') %>
		</div>
		<h3 class="verify_text"><%= labels['LBL_ACTIVE_WITHIN_24_HOURS'][language] %>.</h3>
		<div class="product_card">
		<div class="row">
			<div class="col-md-12 thankyou">
				<img src="../../../images/thankyou.png">
				<p><%= labels['LBL_RECENTLY_NOT_ANY_ADD'][language] %>.</p>

				<a href="add"><button class="main_btn"><%= labels['LBL_BTN_POST_ADD_NOE'][language] %></button></a>
			</div>
		</div>
	</div>
</section>