<section class="productsdetail">
	<div class="container">
		<div class="product_card">
			<div class="help_sidebar_right">
				<div class="row order-list-title">
					<div class="col-md-12 col-sm-12 col-xs-12">
				 		<h3>Post Forcast or Products</h3>
					</div>
					<div class="col-md-6 col-sm-12 col-xs-12">
					 	<div class="search-container">
					       	<label class="my-1 mr-2">Product Category </label>
							<select class="select_plug" id="product_category" name="product_category">
								<option value="1">Spices</option>
								<option value="2">Pulses</option>
								<option value="3">Fruits</option>
								<option value="4">Meat</option>
								<option value="5">Vegetables</option>
								<option value="10">Others</option>
								<option value="12">Seeds</option>
								<option value="18">Indoor Plants</option>
								<option value="21">Dry Fruits</option>
								<option value="23">Flowers</option>
							</select>
						</div>
					</div>
					<div class="col-md-6 col-sm-12 col-xs-12">
				 		<div class="search-container">
				        	<label class="my-1 mr-2">Product Title</label>
						    <input class="custom_input" type="text" placeholder="" value=""> 
						</div>
					</div>
					<div class="col-md-6 col-sm-12 col-xs-12">
				 		<div class="search-container">
				        	<label class="my-1 mr-2">Product Variety</label>
						    <input class="custom_input" type="text" placeholder="" value=""> 
						</div>
					</div>
					<div class="col-md-6 col-sm-12 col-xs-12">
				 		<div class="search-container">
				        	<label class="my-1 mr-2">Grade</label>
						    <input class="custom_input" type="text" placeholder="" value=""> 
						</div>
					</div>
					<div class="col-md-6 col-sm-12 col-xs-12">
				 		<div class="search-container">
				        	<label class="my-1 mr-2">Size</label>
						    <input class="custom_input" type="text" placeholder="" value=""> 
						</div>
					</div>
					<div class="col-md-6 col-sm-12 col-xs-12">
				 		<div class="search-container">
				        	<label class="my-1 mr-2">Available Units</label>
						    <input class="custom_input" type="text" placeholder="" value=""> 
						</div>
					</div>
					<div class="col-md-6 col-sm-12 col-xs-12">
				 		<div class="search-container">
				        	<label class="my-1 mr-2">Total Unit</label>
						    <input class="custom_input" type="text" placeholder="" value=""> 
						</div>
					</div>
					<div class="col-md-6 col-sm-12 col-xs-12">
				 		<div class="search-container">
				        	<label class="my-1 mr-2">Unit Price</label>
						    <input class="custom_input" type="text" placeholder="" value=""> 
						</div>
					</div>
					<div class="col-md-6 col-sm-12 col-xs-12">
				 		<div class="search-container">
				        	<label class="my-1 mr-2">State , City</label>
						    <select class="select_plug"  id="exampleSelect1">
								<option>Bengo</option>
								<option>Benguela</option>
								<option>Bié</option>
								<option>Cabinda</option>
								<option>Cuando Cubango</option>
								<option>Cuanza Norte</option>
								<option>Cuanza Sul</option>
								<option>Cunene</option>
								<option>Huambo</option>
								<option>Huíla</option>
								<option>Luanda</option>
							</select>
						</div>
					</div>
					<div class="col-md-6 col-sm-12 col-xs-12">
				 		<div class="search-container">
				        	<label class="my-1 mr-2">Location </label>
						    <input class="custom_input" type="text" placeholder="" value=""> 
						</div>
					</div>
					<div class="col-md-6 col-sm-12 col-xs-12">
				 		<div class="search-container">
				        	<label class="my-1 mr-2">Nearest Market</label>
						    <input class="custom_input" type="text" placeholder="" value=""> 
						</div>
					</div>
					<div class="col-md-6 col-sm-12 col-xs-12">
				 		
				 		<p style="padding-top: 30px;">
						    Available or Forecasted ? 
						    <i style="color: #f69624;" class="fa fa-info" data-toggle="tooltip" title="Reference site about Lorem Ipsum, giving information on its origins, as well as a random Lipsum generator." id='example'></i>
						</p>
					</div>
					<div class="col-md-12 col-sm-12 col-xs-12">
				 		<a href="producers_product.html"><button class="main_btn">Post Add Now</button></a>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>