<section class="productsdetail">
	<div class="container">
		<h3 class="verify_text">Our support team will verify your product information and then it will be active within 24 to 48 hours.</h3>
		<div class="product_card">
		<div class="row">
			<div class="col-md-12 thankyou">
				<img src="../../../images/thankyou.png">
				<p>Recently you don't have any Add.</p>

				<a href="add"><button class="main_btn">Post Add Now</button></a>
			</div>
		</div>
	</div>
</section>