<section class="productsdetail">
	<div class="container">
		<div class="product_card">
			<div class="row add-address post-add">
				<div class="col-md-12 col-sm-12 col-xs-12">
			 		<h3>Users List</h3>
				</div>
				<div class="col-lg-12 col-sm-12 my_oderDetails">
					<div class="col-lg-3 col-md-6 col-sm-12 kp_myorder">
						<img src="../../images/pic1.jpg">
					</div>
					<div class="col-lg-8 col-md-6 col-sm-12 kp_myorder">
						<h2>John C Brown</h2>
						<h3><i class="fa fa-envelope-o" aria-hidden="true"></i> johncbrown@gmail.com</h3>
						<h3><i class="fa fa-phone" aria-hidden="true"></i> +244 504 251 4437</h3>
						<div class="kp_location">
							<i class="fa fa-map-marker" aria-hidden="true"></i> <span>Benguela, Benguella, Angola</span>
						</div>
					</div>
					<div class="edit_ico">
						<a href="producers_edit_users.html"><i class="fa fa-edit"></i></a>
					</div>
				</div>
				<div class="col-lg-12 col-sm-12 my_oderDetails">
					<div class="col-lg-3 col-md-6 col-sm-12 kp_myorder">
						<img src="../../images/pic2.png">
					</div>
					<div class="col-lg-8 col-md-6 col-sm-12 kp_myorder">
						<h2>Monty Carlo</h2>
						<h3><i class="fa fa-envelope-o" aria-hidden="true"></i> montycarlo@gmail.com</h3>
						<h3><i class="fa fa-phone" aria-hidden="true"></i> +244 504 251 4437</h3>
						<div class="kp_location">
							<i class="fa fa-map-marker" aria-hidden="true"></i> <span>3137  Hickory Ridge Drive, Angola</span>
						</div>
					</div>
					<div class="edit_ico">
						<a href="producers_edit_users.html"><i class="fa fa-edit"></i></a>
					</div>
				</div>
				<div class="col-lg-12 col-sm-12 my_oderDetails">
					<div class="col-lg-3 col-md-6 col-sm-12 kp_myorder">
						<img src="../../images/pic3.jpg">
					</div>
					<div class="col-lg-8 col-md-6 col-sm-12 kp_myorder">
						<h2>Mack Johnson</h2>
						<h3><i class="fa fa-envelope-o" aria-hidden="true"></i> mackjohnson@gmail.com</h3>
						<h3><i class="fa fa-phone" aria-hidden="true"></i> +244 504 251 4437</h3>
						<div class="kp_location">
							<i class="fa fa-map-marker" aria-hidden="true"></i> <span>Benguela, Benguella, Angola</span>
						</div>
					</div>
					<div class="edit_ico">
						<a href="producers_edit_users.html"><i class="fa fa-edit"></i></a>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<section class="productsdetail">
	<div class="container">
		<div class="col-md-12 thankyou" style="margin: -20px 0 20px 0;">
			<a href="add"><button class="main_btn">Add User Now</button></a>
		</div>
	</div>
</section>